@charset "UTF-8";

body{
    margin:0 auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #EDEDED;
}

.barraSuperior{
    background-color: black;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.traducir{
    display: flex;
    align-items: center;
    gap:8px;
    color: white;
    font-size: 13px;
    margin-left: 300px;
    
}

.traducir img{
    width: 20px;
    height: 20px;
}

.iconos{
    display: flex;
    align-items: center;
    gap:10px;
    font-size:15px;
    margin-right: 300px;
}

.iconos a{
    color:white;
    height: 18px;
    font-size: 15px;
}

.linea{
    width: 1px;
    height: 18px;
    background-color: #555;
}

.buscador{
    display: flex;
    align-items: center;
    border:1px solid #707070;
    border-radius: 3px;
    overflow: hidden;
    height:28px;
}

.buscador input{
    background-color: black;
    width: 150px;
    border: none;
    outline:none;
    padding: 0 10px;
    font-size: 13px;
}

.buscador button {
    width: 35px;
    height: 100%;
    border: none;
    background-color: #0071bc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscador img{
    width: 16px;
    height: 16px;
}

.logo{
    margin-left: 300px;
    margin-right: 300px;
    height: 150px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

.logo>img{
    height: 85px;
}

.documentos{
    display: flex;
}

.boton{
    display: flex;
    text-decoration: none;
}

.icono{
    width: 55px;
    height: 55px;
    background-color: #005f9e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icono img{
    width: 24px;
    height: 24px;
}

.texto{
    padding: 0 20px;
    background-color: #0071bc;
    color: white;
    display: flex;
    align-items: center;
    font-size:  14px;
}

.menu-flotante{
    margin: 0;
    margin-left: 300px;
    margin-right: 300px;
    position: sticky;
    top: 0 ;
    z-index: 1000;
} 


.menu{
    display: flex;
    justify-content: center;
}    

.menu li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: #222222;
    gap:20px;
    padding: 14px 24px;
    color: white;
    border: 1px solid #707070;
    transition: 0,3s;
}

.menu li:hover{
    color: #0071bc;
}

.menu i{
    width: 24px;
    height: 24px;
}

.contenidoPrincipal{
    width:100%;
    height: 550px;
    overflow: hidden;
    background-color: #EDEDED;
}

.contenidoPrincipal>img{
    position:absolute;
    top: 230px;
    height: 550px;
    width: 100%;
    filter: brightness(0.7); 
}

.contenidoPrincipal>img:hover{
    filter: brightness(0.4); 
}

.flecha{
    position: absolute;
    top:50%;
    width: 55px;
    height: 55px;
    border: none;
    background-color: #0071bc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flecha img{
    width: 55px;
    height: 55px;
}

.der{
    right: 0px;
}

.izq{
    left: 0px;
}
.contenedorPVolador{
    color: white;
    position: absolute;
    top: 35%;
    left: 22%;
    width: 500px;
    
}

.contenedorPVolador h1{
    font-size: 60px;
    font-weight: 900;
}

.contenedorPVolador button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0071bc;
    padding: 10px 22px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.btn-arriba {
    position: fixed;
    bottom: 0px;
    right: 40px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0071bc;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 50px;
    height: 50px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-arriba:hover {
    background-color: #222222;
}

.noticias{
    background-color: #EDEDED;  
    
}

.noticias>h2{
    color: #0071bc;
    font-size: 50px;
    text-shadow: 1px 1px 2px #005f9e;
    margin-top: 0;
    margin-left: 350px;
    margin-right: 350px;

}

.noticias div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
}

.noticias div article{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 25%;
    background-color: white;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.noticias div article:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.noticias div article img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.noticias div article p:first-of-type{
    display: flex;
    align-items: center;      
    justify-content: center;
    flex-grow: 2;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.noticias div article hr{
    width: 90%;
    margin: 0 auto;
    color: #777;
}

.noticias div article p:last-of-type{
    padding: 15px;
    color: #777;
    font-size: 16px;
}

.noticias .botonNoticias{
    position: relative;
    width: 1279px;
    height: 62px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 35px;
    margin-left: 313px;

    background-color: #005f9e;
    color: white;
    text-decoration: none;

    transition: 0.6s transform;
}

.noticias .botonNoticias:hover{
    background-color: black;
    transform: translateY(-8px);
}

#flechaDer{
    position: absolute;
    right: 20px;
    text-align: right;
}

.imagenes{
    background-color: #EDEDED;
    padding-top: 35px;
}

.imagenes a{
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;

    margin: 0px auto 0;
    margin-top: 35px;    
}

#bannerBigData{
    margin-top: 35px;
    width:0.5%;
}

#bannerAyto{
    width: 768px;
}

#bannerVP0{
    width: 768px;
}

#bannerFiesta{
    width: 768px;
}


.bannerXikitos{
    margin-top: 35px;
    display: flex;
    justify-content: center;

    gap:40px;
    
}

.bannerXikitos>div a{
    text-decoration: none;
    background-color: #005f9e;
}

.bannerXikitos>div img{
    margin:0;
    width: 296px;
    height: 270px;
}

.bannerXikitos>div p{
    margin:0;
    text-align: center;
    background-color: #005f9e;
    color: white;
    padding: 12px 50px;
}

.bannerLargo>div{
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%;
}

.bannerLargo > .vertical,
.bannerLargo > .horizontal {
    display: flex;
    justify-content: center; 
    align-items: center;                 
    width: 100%;
    margin-top: 55px;
    gap:20px;
}

.vertical > div,
.horizontal > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical > div {
    width: 40%; 
}

.vertical>.espBlanco{
    width: 17%;
}

.horizontal > div {
    width: 25%;
}

.horizontal>.espBlanco2{
    width: 26%;
}


.horizontal>.espBlanco3{
    width: 10%;
}


.bannerLargo div a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.bannerLargo div a img {
    width: 100%;
}

.vertical div a img{
    width: 160%;
}

.videoPromo{
    margin-top: 65px;
    width: 100%;
    height: 600px;

    background-image: 
        linear-gradient( to bottom , 
            rgba(123, 39, 172, 0.281),
            rgba(4, 128, 245, 0.479) ),
        url("img/manilva-playa-segura-4-08.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    margin-top: 35px;
}

.banner a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    margin: 0px auto 0;
    margin-top: 35px;
}

.social{
    background-color: white;
    margin-top: 65px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px ;
}
.social a{
    text-decoration: none;
    color: black;
    background-color: #F9F9F9 ;
    border: 1px solid #c7c7c7;
    padding: 8px 16px;
    gap:20px;
    transition: 0.6s;
}

.social a:hover{
    background-color: #0071bc;
    color: white;
}

footer{
    background-color: #222222;
    color: #AAAAAA;
    height: 400px;

}

footer>div{
    display: flex;
    justify-content: center;
    gap: 60px ;
}

footer>div div{
    width: 20%;
    margin-top: 55px;
}

#redes {
    text-align: center;
}

#redes ul li{
    list-style-type: none;
    text-align: justify;
    margin-left: 60px;
    gap:20px;    
}

#redes ul a{
    text-decoration: none;
    color:#AAAAAA;
}

#redes ul a:hover{
    color:#0071bc;
}

.legal li{
    list-style: none;
}

.legal li:hover{
    color: #0071bc;
}

footer div img{
    width: 95%;
}

footer h5{
    margin-top: 35px;
    margin-left: 390px;
}